/************
COMMON

************/
body {
    font-family: "monospace", sans-serif;
}
.font-primary{
    color: blue;
    text-align: center;
}
.title-icon {
    font-size: 20px;
    font-weight: bold;
}
p{
    font-size:14px;

}
h2{
    font-weight:bold;
    font-size:23px;
    margin-bottom: 20px;
}
a.font-black {
   color: Black !important;

}
/****
ABOUT
**********/
#about{
    margin: 60px auto;
    max-width: 400px;
    text-align: center;

}
#about img{
    border-radius: 50%;
    width: 130px;
    margin-bottom: 10px;
}
#about .name{
    font-size: 20px;

}
#about .vocation{
    font-size:17px;
    color: chocolate;
    margin: 10px;

}
#about .skills{
    font-size: 14px;
    color:aqua;
    margin-bottom: 10px;
}
#about .email{
    margin-top: 15px;
    font-size: 16px; 
}
/****Project ******/
#projects .card {
    font-size: 20px;
    font-weight: bold;
    color:cornflowerblue;
    text-align: center;
}

.projects-Twitter {
    display: flex;
    width:100%;
}
.projects-Twitter .card {
    width:50%;

}
.projects-Twitter .card-body{
    width: 50%;
}

#about .icon-item img{ 
     width: 10%;
     
}
.Netflix-project {
    display: flex;
    width: 100%;
}
.Netflix-project .card{
    width: 50%;
}
.Netflix-project .card-body{
    width:50%;
}